<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ashojash.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <uses-feature
            android:name="com.hardware.camera"
            android:required="false"/>
    <application
            android:name=".helper.AppController"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AshojashTheme"
            android:windowSoftInputMode="adjustResize">
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.ashojash.android.helper.GlideConfiguration"
                android:value="GlideModule"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_api_key"/>

        <activity
                android:name=".activity.StartupActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.SearchActivity"
                android:label="@string/app_name"
                android:screenOrientation="sensorPortrait">

        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="sensorPortrait">
        </activity>
        <activity
                android:name=".activity.CityListActivity"
                android:label="@string/app_name"
                android:screenOrientation="sensorPortrait">
        </activity>
        <activity
                android:name=".activity.VenueActivity"
                android:screenOrientation="sensorPortrait"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activity.CollectionActivity"
                android:screenOrientation="sensorPortrait"
                android:label="Ashojash">
        </activity>
        <activity
                android:name=".activity.VenueInfoActivity"
                android:screenOrientation="sensorPortrait"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activity.VenueReviewsActivity"
                android:screenOrientation="sensorPortrait"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activity.VenueMenusActivity"
                android:screenOrientation="sensorPortrait"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activity.VenuePhotosActivity"
                android:screenOrientation="sensorPortrait"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activity.GuestProfileActivity"
                android:screenOrientation="sensorPortrait"
                android:label="@string/app_name"
                android:windowSoftInputMode="stateHidden">
        </activity>

        <receiver android:name=".receiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <service
                android:name=".service.RefreshTokenService"
                android:enabled="true"
                android:exported="false">
        </service>
    </application>

</manifest>
